<div class="hourly-forecast mat-table-container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Enter keyword" #input [disabled]="!weatherData.length">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="table-wrapper" *ngIf="weatherData.length; else rangeNotSelected">
  
      <ng-container matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row" class="date table-data"> {{row.time | date : 'E, d MMM, y, HH:mm'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="weatherState">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weather State </th>
        <td mat-cell *matCellDef="let row" class="table-data"> {{row.weather_description}} </td>
      </ng-container>
  
      <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperature </th>
        <td mat-cell *matCellDef="let row" class="table-data"> {{row.temperature_2m}}°C</td>
      </ng-container>
  
      <ng-container matColumnDef="surfacePressure"> 
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Surface Pressure </th>
        <td mat-cell *matCellDef="let row" class="table-data"> {{row.surface_pressure}}hPa </td>
      </ng-container>
  
      <ng-container matColumnDef="relativeHumidity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Relative Humidity </th>
        <td mat-cell *matCellDef="let row" class="table-data"> {{row.relative_humidity_2m}}% </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" colspan="5">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

<ng-template #rangeNotSelected>
  <p class="no-data">Please select a date range!</p>
</ng-template>
