.mat-table-container {
  max-height: auto;
  overflow-y: auto;
  padding: 0.5rem;
}

.table-wrapper {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
