.heat-index-form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .form-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    input.ng-invalid.ng-touched {
      border: 1px solid;
    }

    .example-full-width {
      width: 30vw;
    }
  }

  .submit-btn {
    width: fit-content;
    margin: 2rem 0.5rem;
  }
}

.result {
  width: fit-content;
  margin: 3rem 0.5rem;
  border: 1px solid #ccc !important;
  border-radius: 16px;
  padding: 1.2em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-item {
  background-color: #d3d3d324;
  border-radius: 24px;
  padding: 20px;
}
