<ng-container *ngIf="(progressBarService.loading$ | async) === false">
  <div class="split-screen-container">
    <h1>Temperature Charts (hourly)</h1>
    <div class="chart-section">
      <h2>Next 7 Days</h2>
      <div>
        <canvas
          baseChart
          [data]="lineChartDataCurrent"
          [options]="chartOptions"
          [type]="'line'"
        >
        </canvas>
      </div>
    </div>
  
    <div class="chart-section" *ngIf="lineChartDataHistorical.datasets[0].data.length; else noData">
      <h2><span>{{this.weatherService.startDate$ | async | date: 'M/d/yyyy'}} - {{this.weatherService.endDate$ | async | date: 'M/d/yyyy'}}</span></h2>
      <div>
        <canvas
          #chart 
          baseChart
          [data]="lineChartDataHistorical"
          [options]="chartOptions"
          [type]="'line'"
          lineChartOptions
        >
        </canvas>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <p class="chart-no-data">
      <mat-icon class="warning-icon" color="warn">warning</mat-icon>
      <strong>Please select a range in <a routerLink="/weather">Weather</a> tab to see historical chart.</strong>
      <mat-icon class="warning-icon" color="warn">warning</mat-icon>
    </p>
  </ng-template>
</ng-container>


