<app-weather-table [weatherData]="currentData"></app-weather-table>

<mat-divider></mat-divider>

<form class="past-days-form">
  <mat-form-field class="past-days">
    <mat-label>Past days</mat-label>
    <input
      matInput
      color="primary"
      [formControl]="pastDays"
      placeholder="Enter number of days for historical view"
    />
    <mat-hint align="start"><strong>Enter a positive value</strong> </mat-hint>
  </mat-form-field>
</form>
<app-weather-table [weatherData]="historicalData"></app-weather-table>
